In [2]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
from datetime import datetime
from pyspark.sql.functions import broadcast
# startTime = datetime.now()

In [3]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import scipy 
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import confusion_matrix
import matplotlib.mlab as mlab
%matplotlib inline

Bad key "backend.qt4" on line 43 in
/etc/matplotlib/matplotlibrc.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.2.2/matplotlibrc.template
or from the matplotlib source distribution

In [4]:
import pandas as pd
from pandas import DataFrame
import numpy as np 
import scipy 
import scipy.stats as ss
from scipy.stats import chi2_contingency
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

In [5]:
conf = SparkConf()

conf = conf.set("spark.executor.instances", '8')
conf = conf.set("spark.executor.cores", '4')
conf = conf.set("spark.executor.memory", "60G")
# conf = conf.set("spark.jars", "db2jcc4.jar")
conf = conf.set("spark.sql.legacy.allowCreatingManagedTableUsingNonemptyLocation","true")
conf = conf.set("spark.sql.broadcastTimeout",  "900")
conf = conf.set("spark.driver.maxResultSize", "8g")

spark = SparkSession.builder \
    .config(conf=conf) \
    .config('spark.dynamicAllocation.enabled', 'false') \
    .config('spark.kryoserializer.buffer.max', '2047') \
    .config('spark.io.compression.codec', 'snappy') \
    .config('spark.blacklist.enabled', 'false') \
    .config('spark.dynamicAllocation.enabled', 'false') \
    .master("yarn") \
    .appName("---") \
    .config('spark.yarn.executor.memoryOverhead', '10g') \
    .enableHiveSupport() \
    .getOrCreate()

# INPUT DATA

In [73]:
# INPUT DATA
df_te_chen_seg_rekom=spark.sql("""


SELECT 
    status_customer,
    count(status_customer) as count_cus,
    rekomendasi,
    channel,
    segmentasi,
    status_kyc,
    jenis_kelamin,
    sum(jumlah_transaksi) as jumlah_transaksi,
    sum(total_amount) as total_amount,
    sum(total_berat) as total_berat,
    tgl_buka,
    year(tgl_buka) as tahun,
    case when (total_amount <10000) then
              '<Rp 10.000'
         when (total_amount <= 50000) then
              'Rp 10.000 - Rp 50.000' 
         when (total_amount <=100000) then
              'Rp 50.001 - Rp 100.000' 
         when (total_amount > 100000) then
              '> Rp 100.000'
    end as range 
    
FROM dev_staging.dm_profilling_te_channel_detail
GROUP BY status_customer, rekomendasi, channel, segmentasi,
    status_kyc,
    jenis_kelamin,
    total_amount,
    jumlah_transaksi,
    total_berat,
    tgl_buka

""")

type(df_te_chen_seg_rekom)
#df.show()

pyspark.sql.dataframe.DataFrame

In [74]:
df_te_chen_seg_rekom.show()

+------------------+---------+---------------+--------------------+----------+----------+-------------+----------------+------------------+--------------------+-------------------+-----+--------------------+
|   status_customer|count_cus|    rekomendasi|             channel|segmentasi|status_kyc|jenis_kelamin|jumlah_transaksi|      total_amount|         total_berat|           tgl_buka|tahun|               range|
+------------------+---------+---------------+--------------------+----------+----------+-------------+----------------+------------------+--------------------+-------------------+-----+--------------------+
|CUSTOMER_BELUM_KYC|      196|      Not_Churn|              SHOPEE| Uncertain|         0|    Perempuan|             196|107133.60000000002|              0.1176|2020-12-24 00:00:00| 2020|          <Rp 10.000|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|              SHOPEE|  Frequent|         0|    Perempuan|               8|            9334.6|0.029700000000000004|2020-10-09 00:00:00| 2020|          <Rp 10.000|
|CUSTOMER_SUDAH_KYC|        1|Prepare to Lose|              SHOPEE| FirstTime|         1|    Laki-laki|               1|           20163.0|0.023100000000000002|2021-06-26 00:00:00| 2021|Rp 10.000 - Rp 50...|
|CUSTOMER_SUDAH_KYC|        2|      Not_Churn|AGEN MITRA BUKALAPAK| Uncertain|         1|    Laki-laki|               4|           40265.4|              0.0442|2020-11-14 00:00:00| 2020|Rp 10.000 - Rp 50...|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|              SHOPEE|  Frequent|         0|    Perempuan|              13|            8899.2|0.028200000000000003|2020-10-15 00:00:00| 2020|          <Rp 10.000|
|CUSTOMER_BELUM_KYC|        6|      Not_Churn|              SHOPEE| FirstTime|         0|    Perempuan|              12|           60482.4|              0.0696|2021-05-06 00:00:00| 2021|Rp 10.000 - Rp 50...|
|CUSTOMER_SUDAH_KYC|        1|      Not_Churn|LINKAJA TABUNGAN ...|   Shopper|         1|    Perempuan|              23|         8098896.7|              9.2898|2021-05-27 00:00:00| 2021|        > Rp 100.000|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|           TOKOPEDIA| Uncertain|         0|    Laki-laki|               8|307924.39999999997|              1.3153|2019-02-28 00:00:00| 2019|        > Rp 100.000|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|           TOKOPEDIA|   Shopper|         0|    Laki-laki|              98|1406729.9999999993|  3.9192999999999985|2019-07-25 00:00:00| 2019|        > Rp 100.000|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|              SHOPEE| Uncertain|         0|    Perempuan|               3|           10716.6|              0.0336|2020-10-16 00:00:00| 2020|Rp 10.000 - Rp 50...|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|              SHOPEE| Uncertain|         0|    Laki-laki|               4|            4470.8|              0.0144|2020-10-29 00:00:00| 2020|          <Rp 10.000|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|              SHOPEE| Uncertain|         0|    Laki-laki|               3|24110.799999999996|              0.0271|2020-11-30 00:00:00| 2020|Rp 10.000 - Rp 50...|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|              SHOPEE| FirstTime|         0|    Laki-laki|               4|2594.9999999999995|0.002999999999999...|2021-03-27 00:00:00| 2021|          <Rp 10.000|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|           TOKOPEDIA| Uncertain|         0|    Perempuan|               1|           29970.0|               0.045|2019-07-10 00:00:00| 2019|Rp 10.000 - Rp 50...|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|           TOKOPEDIA| Uncertain|         0|    Perempuan|               2|          199976.9|              0.4739|2019-09-28 00:00:00| 2019|        > Rp 100.000|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|           TOKOPEDIA|  Frequent|         0|    Perempuan|              43|         2258804.5|   7.192899999999998|2019-02-28 00:00:00| 2019|        > Rp 100.000|
|CUSTOMER_BELUM_KYC|        4|      Not_Churn|              SHOPEE| FirstTime|         0|    Laki-laki|               4|            2088.0|              0.0024|2021-03-16 00:00:00| 2021|          <Rp 10.000|
|CUSTOMER_BELUM_KYC|       53|      Not_Churn|              SHOPEE| Uncertain|         0|    Perempuan|              53|269314.19999999995| 0.28619999999999995|2020-11-08 00:00:00| 2020|          <Rp 10.000|
|CUSTOMER_BELUM_KYC|        1|      Not_Churn|           TOKOPEDIA| Uncertain|         0|    Laki-laki|               1|            3971.0|              0.0055|2019-09-28 00:00:00| 2019|          <Rp 10.000|
|CUSTOMER_BELUM_KYC|       30|      Not_Churn|              SHOPEE| FirstTime|         0|    Laki-laki|              30|          302220.0|               0.345|2021-08-20 00:00:00| 2021|Rp 10.000 - Rp 50...|
+------------------+---------+---------------+--------------------+----------+----------+-------------+----------------+------------------+--------------------+-------------------+-----+--------------------+
only showing top 20 rows

In [75]:
df_te_chen_seg_rekom.count()

597786

In [65]:
# temp table
df_te_chen_seg_rekom.registerTempTable('table1')

In [67]:
spark.sql(
"""
select segmentasi, count(segmentasi) from table1
group by segmentasi
"""
).show(10, False)

+------------+-----------------+
|segmentasi  |count(segmentasi)|
+------------+-----------------+
|Valuable    |824              |
|Spenders    |503              |
|null        |0                |
|Shopper     |151469           |
|Frequent    |46094            |
|AboutToSleep|1934             |
|FirstTime   |211766           |
|Uncertain   |217487           |
|Best        |13817            |
+------------+-----------------+

In [42]:
df_te_chen_seg_rekom.count()

2372408

# CEK DATA NULL

In [76]:
import databricks.koalas as ks
kdf= df_te_chen_seg_rekom.to_koalas()

In [77]:
kdf.info()

databricks.koalas.frame.DataFrame
Index: 597786 entries, 0 to 597785
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   status_customer   597786 non-null  object
 1   count_cus         597786 non-null  int64
 2   rekomendasi       597786 non-null  object
 3   channel           394576 non-null  object
 4   segmentasi        459361 non-null  object
 5   status_kyc        489722 non-null  object
 6   jenis_kelamin     494596 non-null  object
 7   jumlah_transaksi  597786 non-null  int64
 8   total_amount      498620 non-null  float64
 9   total_berat       498620 non-null  float64
 10  tgl_buka          597782 non-null  datetime64[ns]
 11  tahun             597782 non-null  int32
 12  range             498620 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(7)

In [78]:
kdf.describe()

           count_cus  jumlah_transaksi  total_amount    total_berat          tahun
count  597786.000000      597786.00000  4.986200e+05  498620.000000  597782.000000
mean        3.968792          63.01164  1.469679e+06       2.266612    2020.183293
std        33.974082        1227.04095  5.723643e+07      77.076402       0.769210
min         1.000000           1.00000  0.000000e+00       0.000100    2018.000000
25%         1.000000           2.00000  1.235730e+04       0.017200    2020.000000
50%         1.000000           6.00000  5.034060e+04       0.072900    2020.000000
75%         1.000000          32.00000  2.852000e+05       0.399800    2021.000000
max      2934.000000      321239.00000  3.857528e+10   52605.027400    2021.000000

In [79]:
isna_rep = kdf.isna().sum().to_frame().reset_index()
isna_rep.columns = ['var','sum_na']
isna_rep['prs']=isna_rep['sum_na']/len(kdf)*100
isna_rep

                 var  sum_na        prs
0    status_customer       0   0.000000
1          count_cus       0   0.000000
2        rekomendasi       0   0.000000
3            channel  203210  33.993770
4         segmentasi  138425  23.156280
5         status_kyc  108064  18.077372
6      jenis_kelamin  103190  17.262030
7   jumlah_transaksi       0   0.000000
8       total_amount   99166  16.588880
9        total_berat   99166  16.588880
10          tgl_buka       4   0.000669
11             tahun       4   0.000669
12             range   99166  16.588880

In [43]:
kdf.rekomendasi.value_counts()

Not_Churn                 2289462
Low Cost Maintenance        65487
Prepare to Lose             16080
Sustained Relationship       1269
Aggressively Defend           110
Name: rekomendasi, dtype: int64

# SAVE TABEL

In [64]:
# saving

df_te_chen_seg_rekom.write.format('parquet').mode('overwrite').saveAsTable('dev_datamart.dm_profilling_te_channel_segmentasi_rekomendasi')

# CEK TABEL

In [65]:
# INPUT DATA
coba=spark.sql("""


SELECT 
status_kyc,
count(status_kyc)

FROM dev_datamart.dm_profilling_te_channel_segmentasi_rekomendasi
group by status_kyc


""")

In [66]:
coba.show()

+----------+-----------------+
|status_kyc|count(status_kyc)|
+----------+-----------------+
|         0|           301578|
|      null|                0|
|         1|           188144|
+----------+-----------------+

In [23]:
import databricks.koalas as ks
kcoba= coba.to_koalas()

WARNING:root:'ARROW_PRE_0_15_IPC_FORMAT' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=0.15 and pyspark<3.0. Koalas will set it for you but it does not work if there is a Spark context already launched.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [24]:
isna_rep_coba = kcoba.isna().sum().to_frame().reset_index()
isna_rep_coba.columns = ['var','sum_na']
isna_rep_coba['prs']=isna_rep_coba['sum_na']/len(kcoba)*100
isna_rep_coba

                 var   sum_na        prs
0    status_customer        0   0.000000
1   count_rokemndasi        0   0.000000
2        rekomendasi        0   0.000000
3            channel  1789650  75.436013
4         segmentasi  1728514  72.859053
5              norek        0   0.000000
6         status_kyc  1674680  70.589882
7      jenis_kelamin  1669573  70.374615
8   jumlah_transaksi        0   0.000000
9       total_amount  1665957  70.222196
10       total_berat  1665957  70.222196
11          tgl_buka      864   0.036419
12             Tahun      864   0.036419
13             range  1665957  70.222196

In [25]:
kcoba.info()

databricks.koalas.frame.DataFrame
Index: 2372408 entries, 0 to 2372407
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   status_customer   2372408 non-null  object
 1   count_rokemndasi  2372408 non-null  int64
 2   rekomendasi       2372408 non-null  object
 3   channel           582758 non-null   object
 4   segmentasi        643894 non-null   object
 5   norek             2372408 non-null  object
 6   status_kyc        697728 non-null   object
 7   jenis_kelamin     702835 non-null   object
 8   jumlah_transaksi  2372408 non-null  int64
 9   total_amount      706451 non-null   float64
 10  total_berat       706451 non-null   float64
 11  tgl_buka          2371544 non-null  datetime64[ns]
 12  Tahun             2371544 non-null  int32
 13  range             706451 non-null   object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(8)

In [26]:
kcoba.shape

(2372408, 14)

In [20]:
kcoba = kcoba.dropna()
kcoba.shape

(510055, 11)

In [21]:
kcoba.head(15)

    count_rokemndasi           rekomendasi    channel segmentasi             norek status_kyc jenis_kelamin  jumlah_transaksi  total_amount  total_berat periode
0                  1             Not_Churn     SHOPEE  FirstTime  1285021620004945          0     Perempuan                 2        5127.8       0.0059    2021
1                  1             Not_Churn     SHOPEE    Shopper  1282120620004054          0     Perempuan                 6      279879.4       0.3182    2020
2                  1             Not_Churn     SHOPEE  FirstTime  1303221620004709          0     Laki-laki                 2        3073.0       0.0035    2021
3                  1             Not_Churn  TOKOPEDIA  Uncertain  1232119653813929          0     Laki-laki                 3        5403.6       0.0076    2019
4                  1             Not_Churn  TOKOPEDIA   Frequent  1232119654912399          0     Perempuan               216     1131494.9       2.9526    2019
5                  1             Not_Churn     SHOPEE    Shopper  1247321620007048          0     Perempuan                 5      109308.3       0.1236    2021
6                  1             Not_Churn     SHOPEE    Shopper  1410720620013321          0     Perempuan                 5       18467.3       0.0609    2020
7                  1       Prepare to Lose     SHOPEE  FirstTime  1288021620004967          1     Laki-laki                 5       11117.7       0.0127    2021
8                  1             Not_Churn     SHOPEE   Frequent  1112020620005042          1     Perempuan                 6        5934.3       0.0189    2020
9                  1  Low Cost Maintenance     SHOPEE  Uncertain  1132020620002409          0     Perempuan                 4       53659.0       0.0921    2020
10                 1             Not_Churn     SHOPEE  Uncertain  1169220620009562          0     Laki-laki                 1         564.6       0.0006    2020
11                 1             Not_Churn     SHOPEE  Uncertain  1166320620002097          0     Laki-laki                 3      713456.0       0.8056    2020
12                 1  Low Cost Maintenance     SHOPEE  Uncertain  1075220620004657          1     Laki-laki                 1         573.6       0.0018    2020
13                 1             Not_Churn  TOKOPEDIA   Frequent  1232119658032202          0     Laki-laki                 9      228934.3       0.6432    2019
14                 1             Not_Churn     SHOPEE  Uncertain  1320220620002134          0     Laki-laki                 1         547.2       0.0006    2020

In [22]:
kcoba.periode.value_counts()

2020    233948
2021    217751
2019     58356
Name: periode, dtype: int64

In [23]:
kcoba.segmentasi.value_counts()

FirstTime       181871
Uncertain       172413
Shopper         110457
Frequent         36378
Best              6743
AboutToSleep      1234
Valuable           554
Spenders           405
Name: segmentasi, dtype: int64

In [7]:
coba2=spark.sql("""


SELECT 
    tgl_buka,
    year(tgl_buka)

FROM dev_staging.dm_profilling_te_channel_detail


""")

In [8]:
coba2.show()

+-------------------+----------------------------+
|           tgl_buka|year(CAST(tgl_buka AS DATE))|
+-------------------+----------------------------+
|2021-04-17 00:00:00|                        2021|
|2019-04-22 00:00:00|                        2019|
|2019-06-12 00:00:00|                        2019|
|2020-06-26 00:00:00|                        2020|
|2020-12-01 00:00:00|                        2020|
|2019-10-18 00:00:00|                        2019|
|2021-06-26 00:00:00|                        2021|
|2021-09-25 00:00:00|                        2021|
|2021-01-29 00:00:00|                        2021|
|2019-04-27 00:00:00|                        2019|
|2020-05-20 00:00:00|                        2020|
|2020-08-03 00:00:00|                        2020|
|2021-04-02 00:00:00|                        2021|
|2020-08-04 00:00:00|                        2020|
|2020-04-16 00:00:00|                        2020|
|2020-09-05 00:00:00|                        2020|
|2020-05-14 00:00:00|                        2020|
|2020-05-26 00:00:00|                        2020|
|2020-06-13 00:00:00|                        2020|
|2020-06-18 00:00:00|                        2020|
+-------------------+----------------------------+
only showing top 20 rows

# cek tabel baru

In [6]:
coba=spark.sql("""


SELECT 
*
FROM dev_staging.dm_profilling_te_channel_detail
""")

In [7]:
coba.show()

+---------------+--------+---------+----------------+---------+----------+-------------------+-----------+----------------+----------+----------+----+-----+--------+----------+----------+-------------------+------------+------------------+---------+--------+-----+-------+-----------------+----------+----------+-------------+----------+-----------------+---------+----------+-----------+-----------+
|status_customer|     cif|create_by|           norek|CLIENT_ID|CHANNEL_ID|             tgl_OP|TARGET_CUST|jumlah_transaksi|status_kyc|source_kyc|nama|no_id| user_id|branch_kyc|status_rek|           tgl_buka|total_amount|       total_berat|  channel|username|agama|profesi|jumlah_tanggungan|pendidikan|range_gaji|jenis_kelamin|range_usia|dukcapil_verified|region_nm|segmentasi|rekomendasi|churn_proba|
+---------------+--------+---------+----------------+---------+----------+-------------------+-----------+----------------+----------+----------+----+-----+--------+----------+----------+-------------------+------------+------------------+---------+--------+-----+-------+-----------------+----------+----------+-------------+----------+-----------------+---------+----------+-----------+-----------+
|  UNCATEGORIZED| 6504558|     5101|1232121650994348|     5101|      6017|2021-04-17 00:00:00|     450000|              29|      null|      null|null| null| 6504558|     12592|         1|2021-04-17 00:00:00|   8748955.2|            9.9992|TOKOPEDIA|    5101| null|   null|             null|      null|      null|         null|      null|             null|     null|      Best|  Not_Churn|       null|
|  UNCATEGORIZED| 4434372|     5101|1232119651394781|     5101|      6017|2019-04-22 00:00:00|     450000|              42|      null|      null|null| null| 4434372|     10909|         1|2019-04-22 00:00:00|    697617.6|0.8065000000000001|TOKOPEDIA|    5101| null|   null|             null|      null|      null|         null|      null|             null|     null|   Shopper|  Not_Churn|       null|
|  UNCATEGORIZED|18754080|     5101|1232119653609483|     5101|      6017|2019-06-12 00:00:00|     450000|             138|      null|      null|null| null|18754080|     13948|         1|2019-06-12 00:00:00|   8834401.0| 9.845199999999991|TOKOPEDIA|    5101| null|   null|             null|      null|      null|         null|      null|             null|     null|      Best|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120653868350|     5101|      6017|2020-06-26 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2020-06-26 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120655683583|     5101|      6017|2020-12-01 00:00:00|     450000|               9|      null|      null|null| null|    null|      null|         1|2020-12-01 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232119657348757|     5101|      6017|2019-10-18 00:00:00|     450000|               2|      null|      null|null| null|    null|      null|         1|2019-10-18 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232121651626352|     5101|      6017|2021-06-26 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2021-06-26 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232121652530272|     5101|      6017|2021-09-25 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2021-09-25 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232121650285721|     5101|      6017|2021-01-29 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2021-01-29 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232119651640746|     5101|      6017|2019-04-27 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2019-04-27 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120653185201|     5101|      6017|2020-05-20 00:00:00|     450000|               5|      null|      null|null| null|    null|      null|         1|2020-05-20 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120654352586|     5101|      6017|2020-08-03 00:00:00|     450000|               6|      null|      null|null| null|    null|      null|         1|2020-08-03 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232121650865647|     5101|      6017|2021-04-02 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2021-04-02 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120654370935|     5101|      6017|2020-08-04 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2020-08-04 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120652325881|     5101|      6017|2020-04-16 00:00:00|     450000|              11|      null|      null|null| null|    null|      null|         1|2020-04-16 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120654815848|     5101|      6017|2020-09-05 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2020-09-05 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120653031868|     5101|      6017|2020-05-14 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2020-05-14 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120653299077|     5101|      6017|2020-05-26 00:00:00|     450000|               2|      null|      null|null| null|    null|      null|         1|2020-05-26 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120653687339|     5101|      6017|2020-06-13 00:00:00|     450000|              12|      null|      null|null| null|    null|      null|         1|2020-06-13 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
|   NOT_CUSTOMER|    null|     null|1232120653759872|     5101|      6017|2020-06-18 00:00:00|     450000|               1|      null|      null|null| null|    null|      null|         1|2020-06-18 00:00:00|        null|              null|     null|    null| null|   null|             null|      null|      null|         null|      null|             null|     null|      null|  Not_Churn|       null|
+---------------+--------+---------+----------------+---------+----------+-------------------+-----------+----------------+----------+----------+----+-----+--------+----------+----------+-------------------+------------+------------------+---------+--------+-----+-------+-----------------+----------+----------+-------------+----------+-----------------+---------+----------+-----------+-----------+
only showing top 20 rows

In [8]:
coba.count()

2372488

In [9]:
import databricks.koalas as ks
kdf= coba.to_koalas()

WARNING:root:'ARROW_PRE_0_15_IPC_FORMAT' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=0.15 and pyspark<3.0. Koalas will set it for you but it does not work if there is a Spark context already launched.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [10]:
kdf.info()

databricks.koalas.frame.DataFrame
Index: 2372488 entries, 0 to 2372487
Data columns (total 33 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   status_customer    2372488 non-null  object
 1   cif                722622 non-null   object
 2   create_by          722622 non-null   object
 3   norek              2372488 non-null  object
 4   CLIENT_ID          2372488 non-null  object
 5   CHANNEL_ID         2372488 non-null  object
 6   tgl_OP             2372488 non-null  datetime64[ns]
 7   TARGET_CUST        2372299 non-null  int32
 8   jumlah_transaksi   2372488 non-null  int64
 9   status_kyc         697808 non-null   object
 10  source_kyc         220805 non-null   object
 11  nama               702918 non-null   object
 12  no_id              702917 non-null   object
 13  user_id            115412 non-null   object
 14  branch_kyc         15824 non-null    object
 15  status_rek         2371624 non-null  object
 16  tgl_buka           2371624 non-null  datetime64[ns]
 17  total_amount       706530 non-null   float64
 18  total_berat        706530 non-null   float64
 19  channel            582823 non-null   object
 20  username           582823 non-null   object
 21  agama              608609 non-null   object
 22  profesi            301966 non-null   object
 23  jumlah_tanggungan  3315 non-null     object
 24  pendidikan         198633 non-null   object
 25  range_gaji         120884 non-null   object
 26  jenis_kelamin      702915 non-null   object
 27  range_usia         702906 non-null   object
 28  dukcapil_verified  618207 non-null   object
 29  region_nm          702918 non-null   object
 30  segmentasi         643970 non-null   object
 31  rekomendasi        2372488 non-null  object
 32  churn_proba        82986 non-null    object
dtypes: datetime64[ns](2), float64(2), int32(1), int64(1), object(27)

In [11]:
kdf.describe()

        TARGET_CUST  jumlah_transaksi  total_amount    total_berat  jumlah_tanggungan   churn_proba
count  2.372299e+06      2.372488e+06  7.065300e+05  706530.000000        3315.000000  82986.000000
mean   4.050935e+05      1.587678e+01  1.037198e+06       1.599618           1.867300      0.650714
std    7.686303e+04      6.151557e+02  4.808672e+07      64.756872           1.357115      0.105135
min    5.000000e+03      1.000000e+00  0.000000e+00       0.000100           1.000000      0.500000
25%    2.800000e+05      1.000000e+00  5.027400e+03       0.005700           1.000000      0.584100
50%    4.500000e+05      2.000000e+00  1.658630e+04       0.025000           2.000000      0.618000
75%    4.500000e+05      7.000000e+00  1.251543e+05       0.172000           2.000000      0.709100
max    4.500000e+05      3.212390e+05  3.857528e+10   52605.027400          35.000000      0.966200

In [85]:
kdf.jumlah_norek.value_counts()

1       753666
2        14479
3         6909
4         4314
5         3135
6         2261
7         1810
8         1465
9         1272
10        1023
11         906
12         768
13         708
14         626
15         551
16         478
17         474
19         401
18         373
20         353
21         308
22         293
23         280
24         280
25         258
26         237
27         217
28         212
29         194
30         193
34         176
31         154
33         153
36         153
32         151
38         141
37         137
35         136
40         112
41         110
39         104
42         101
47          94
50          93
45          91
44          89
48          88
43          86
46          86
49          85
56          79
51          78
52          78
54          76
55          74
59          66
60          61
57          60
53          60
58          59
70          56
67          55
68          54
63          53
66          53
61          52
62          52
75          52
65          49
72          48
77          47
71          46
74          45
73          45
83          45
76          39
78          39
81          38
64          38
80          38
69          37
82          36
96          36
79          32
90          31
88          30
105         29
99          28
86          27
85          27
95          27
93          27
87          26
102         26
140         26
91          26
116         25
92          25
84          25
104         24
110         23
127         22
115         22
125         21
129         21
119         21
112         21
108         21
101         20
122         20
97          20
126         20
89          20
135         19
106         19
100         19
94          18
136         18
103         18
139         18
128         18
131         18
121         18
156         18
134         18
107         18
146         17
120         17
109         17
152         17
143         16
123         16
173         16
151         16
153         16
164         16
142         15
141         15
165         15
147         15
124         15
170         14
163         14
114         14
137         14
201         14
118         14
113         14
196         13
150         13
98          13
168         13
160         13
195         13
111         13
155         13
149         12
145         12
158         12
138         12
144         12
117         12
171         12
176         12
167         12
198         11
130         11
132         11
154         11
172         11
133         11
182         10
166         10
184          9
226          9
404          9
169          9
186          9
203          9
162          9
174          9
177          9
161          9
211          9
215          8
224          8
157          8
180          8
351          8
189          8
237          8
425          8
181          8
193          8
424          8
306          8
384          7
197          7
200          7
194          7
205          7
479          7
456          7
418          7
239          7
206          7
221          7
192          7
359          7
233          7
229          6
257          6
248          6
254          6
392          6
417          6
644          6
305          6
366          6
340          6
178          6
344          6
403          6
356          6
247          6
360          6
159          6
362          6
433          6
330          5
421          5
187          5
342          5
316          5
754          5
209          5
246          5
220          5
292          5
288          5
658          5
199          5
269          5
175          5
426          5
281          5
190          5
410          5
374          5
223          5
284          5
217          5
204          5
148          5
458          5
191          5
278          5
228          5
202          5
395          5
244          5
235          5
252          5
260          5
285          5
586          5
365          5
271          5
185          5
368          5
214          5
179          5
339          5
225          5
422          5
231          5
287          4
551          4
264          4
488          4
814          4
320          4
236          4
208          4
481          4
324          4
641          4
379          4
492          4
514          4
518          4
386          4
230          4
398          4
261          4
489          4
212          4
678          4
298          4
607          4
289          4
654          4
372          4
401          4
567          4
317          4
347          4
232          4
455          4
331          4
341          4
304          4
674          4
468          4
503          4
329          4
188          4
378          4
377          4
375          4
219          4
557          4
218          4
682          4
428          4
724          3
487          3
427          3
262          3
325          3
496          3
650          3
255          3
447          3
397          3
389          3
546          3
411          3
242          3
726          3
498          3
671          3
1118         3
748          3
947          3
345          3
249          3
303          3
715          3
435          3
295          3
508          3
280          3
334          3
290          3
380          3
327          3
265          3
326          3
894          3
391          3
275          3
439          3
924          3
475          3
294          3
505          3
238          3
620          3
315          3
472          3
350          3
904          3
535          3
1414         3
409          3
183          3
522          3
587          3
628          3
531          3
367          3
241          3
974          3
402          3
369          3
413          3
710          3
234          3
491          3
763          3
286          3
216          3
759          3
791          3
818          3
297          3
550          3
263          3
240          3
396          3
501          3
741          3
875          3
1076         3
245          3
393          3
851          3
338          3
616          3
273          3
222          3
693          3
589          3
227          3
250          3
944          3
449          3
448          3
333          3
337          3
454          3
213          3
525          3
745          3
506          3
630          3
444          3
387          3
566          3
721          3
474          2
414          2
1059         2
348          2
415          2
277          2
463          2
830          2
1329         2
876          2
1002         2
828          2
752          2
1128         2
420          2
279          2
516          2
662          2
642          2
756          2
276          2
592          2
258          2
554          2
789          2
744          2
407          2
773          2
346          2
977          2
1009         2
405          2
519          2
207          2
460          2
950          2
794          2
319          2
1071         2
500          2
423          2
1239         2
497          2
697          2
755          2
318          2
1068         2
471          2
804          2
746          2
210          2
383          2
381          2
283          2
431          2
355          2
543          2
373          2
872          2
664          2
390          2
668          2
512          2
750          2
400          2
1031         2
432          2
412          2
388          2
308          2
595          2
336          2
272          2
568          2
603          2
984          2
722          2
737          2
902          2
613          2
766          2
314          2
533          2
860          2
993          2
692          2
601          2
547          2
648          2
731          2
695          2
609          2
470          2
582          2
291          2
259          2
251          2
728          2
571          2
1022         2
429          2
734          2
570          2
751          2
1058         2
442          2
720          2
243          2
602          2
844          2
909          2
702          2
610          2
712          2
462          2
307          2
1304         2
767          2
335          2
583          2
1475         2
419          2
556          2
764          2
476          2
521          2
862          2
537          2
452          2
364          2
490          2
332          2
735          2
575          2
467          2
528          2
1122         2
495          2
645          2
310          2
627          2
256          2
445          2
680          2
300          2
1365         2
1168         2
282          2
647          2
1106         2
1033         2
270          2
831          2
299          2
268          2
443          2
266          2
349          2
1075         2
515          2
538          2
461          2
441          2
563          2
934          2
323          2
473          2
634          2
729          2
684          2
676          2
578          2
534          2
311          2
888          2
569          2
526          2
469          2
296          1
1280         1
530          1
1152         1
1157         1
486          1
932          1
406          1
624          1
1064         1
961          1
936          1
1407         1
555          1
1073         1
1089         1
1051         1
1361         1
880          1
1099         1
621          1
704          1
790          1
1274         1
466          1
1212         1
1287         1
883          1
665          1
1259         1
854          1
920          1
1504         1
933          1
1267         1
694          1
1307         1
608          1
738          1
1196         1
301          1
2934         1
453          1
1230         1
430          1
817          1
499          1
637          1
1358         1
866          1
511          1
900          1
1597         1
901          1
1040         1
539          1
485          1
1087         1
1112         1
673          1
953          1
517          1
1314         1
927          1
761          1
1013         1
581          1
1172         1
540          1
1332         1
1486         1
683          1
371          1
507          1
1084         1
777          1
1392         1
941          1
982          1
576          1
776          1
1044         1
655          1
1296         1
826          1
879          1
942          1
520          1
657          1
544          1
1056         1
922          1
322          1
893          1
996          1
1387         1
1245         1
1062         1
1091         1
803          1
775          1
1080         1
321          1
785          1
1235         1
1171         1
886          1
477          1
1364         1
465          1
1571         1
1065         1
604          1
899          1
450          1
596          1
727          1
1188         1
839          1
698          1
765          1
1160         1
916          1
687          1
956          1
1061         1
757          1
808          1
625          1
502          1
656          1
1055         1
302          1
343          1
706          1
1053         1
779          1
1048         1
1275         1
928          1
714          1
434          1
646          1
1015         1
679          1
328          1
1115         1
361          1
1156         1
1129         1
1290         1
670          1
1148         1
1162         1
681          1
652          1
451          1
594          1
1144         1
542          1
811          1
436          1
1396         1
708          1
672          1
1229         1
580          1
494          1
358          1
1422         1
483          1
545          1
1183         1
707          1
666          1
887          1
725          1
1049         1
1032         1
527          1
917          1
636          1
1415         1
267          1
667          1
357          1
835          1
972          1
484          1
1394         1
786          1
1355         1
739          1
1325         1
1398         1
1707         1
558          1
541          1
705          1
1202         1
564          1
857          1
1440         1
1283         1
1405         1
700          1
915          1
760          1
820          1
353          1
772          1
480          1
747          1
1046         1
585          1
577          1
446          1
954          1
869          1
689          1
1198         1
991          1
914          1
813          1
865          1
833          1
649          1
524          1
1078         1
1109         1
1093         1
651          1
874          1
1208         1
816          1
593          1
597          1
1421         1
812          1
824          1
660          1
1057         1
1165         1
1262         1
1003         1
770          1
1006         1
870          1
871          1
975          1
923          1
1066         1
1310         1
1146         1
482          1
618          1
478          1
1419         1
753          1
740          1
774          1
1402         1
807          1
711          1
931          1
821          1
605          1
986          1
1082         1
504          1
1081         1
732          1
1519         1
579          1
780          1
313          1
457          1
690          1
771          1
1193         1
685          1
1511         1
1127         1
938          1
730          1
293          1
399          1
1233         1
1021         1
363          1
843          1
1135         1
1149         1
699          1
925          1
562          1
882          1
1124         1
1136         1
1367         1
743          1
859          1
632          1
978          1
834          1
623          1
1493         1
719          1
352          1
559          1
440          1
653          1
1192         1
1264         1
553          1
1027         1
892          1
827          1
1203         1
701          1
617          1
937          1
799          1
976          1
1140         1
885          1
1349         1
1195         1
873          1
717          1
1835         1
Name: jumlah_norek, dtype: int64

In [13]:
isna_rep = kdf.isna().sum().to_frame().reset_index()
isna_rep.columns = ['var','sum_na']
isna_rep['%']=isna_rep['sum_na']/len(kdf)*100
isna_rep

                  var   sum_na          %
0     status_customer        0   0.000000
1                 cif  1649866  69.541595
2           create_by  1649866  69.541595
3               norek        0   0.000000
4           CLIENT_ID        0   0.000000
5          CHANNEL_ID        0   0.000000
6              tgl_OP        0   0.000000
7         TARGET_CUST      189   0.007966
8    jumlah_transaksi        0   0.000000
9          status_kyc  1674680  70.587501
10         source_kyc  2151683  90.693104
11               nama  1669570  70.372116
12              no_id  1669571  70.372158
13            user_id  2257076  95.135402
14         branch_kyc  2356664  99.333021
15         status_rek      864   0.036417
16           tgl_buka      864   0.036417
17       total_amount  1665958  70.219870
18        total_berat  1665958  70.219870
19            channel  1789665  75.434101
20           username  1789665  75.434101
21              agama  1763879  74.347225
22            profesi  2070522  87.272180
23  jumlah_tanggungan  2369173  99.860273
24         pendidikan  2173855  91.627650
25         range_gaji  2251604  94.904758
26      jenis_kelamin  1669573  70.372242
27         range_usia  1669582  70.372621
28  dukcapil_verified  1754281  73.942671
29          region_nm  1669570  70.372116
30         segmentasi  1728518  72.856765
31        rekomendasi        0   0.000000
32        churn_proba  2289502  96.502153

In [ ]:
dev_staging.dm_profilling_te_channel_detail

In [ ]:
# INPUT DATA
df_te_chen_seg_rekom=spark.sql("""


SELECT 
    status_customer,
    count(status_customer) as status_cus,
    rekomendasi,
    count(rekomendasi) as count_rokemndasi,
    channel,
    count(channel) as count_channel,
    segmentasi,
    count(segmentasi) as count_segmentasi,
    status_kyc,
    count(status_kyc) as count_status_kyc,
    jenis_kelamin,
    count(jenis_kelamin) as count_jenis_kelamin,
    sum(jumlah_transaksi) as jumlah_transaksi,
    sum(total_amount) as total_amount,
    sum(total_berat) as total_berat,
    tgl_buka,
    year(tgl_buka) as Tahun,
    case when (total_amount <'10000') then
              '<Rp 10.000'
         when (total_amount >= '10000' and total_amount <='50000') then
              'Rp 10.000 - Rp 50.000' 
         when (total_amount >= '50000' and total_amount <='100000') then
              'Rp 50.001 - Rp 100.000' 
         when (total_amount > '100000') then
              '> Rp 100.000'
    end as range 
    
FROM dev_staging.dm_profilling_te_channel_detail
GROUP BY status_customer, rekomendasi, channel, segmentasi,
    status_kyc,
    jenis_kelamin,
    total_amount,
    jumlah_transaksi,
    total_berat,
    tgl_buka

""")

type(df_te_chen_seg_rekom)
#df.show()